* {
    margin: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
}

#titleBar {
    z-index: 999;
    width: 100%;
    height: 7%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;
}



#toolBar {
    width: 13%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: row;
    transition: ease-in-out .35s;
    left: -8.45%;
}

#toolBarLeft {
    width: 65%;
    height: 100%;
    background-color: white;
    opacity: 0.85;
    display: flex;
    align-items: center;
    justify-content: center;
}

#toolContainer {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.tools {
    width: 65px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;

}

#home {
    width: 60px;
    height: 60px;
    background-image: url(images/homeIcon.png);
    background-size: 100% 100%;
}

#gpaCalculator {
    width: 60px;
    height: 60px;
    background-image: url(images/gpaCalculatorIcon.png);
    background-size: 100% 100%;
}

#gradeCalculator {
    width: 60px;
    height: 60px;
    background-image: url(images/gradeCalculatorIcon.png);
    background-size: 100% 100%;
}

#planner {
    width: 60px;
    height: 60px;
    background-image: url(images/plannerIcon.png);
    background-size: 100% 100%;
}

#textbooks {
    width: 60px;
    height: 60px;
    background-image: url(images/textbooksIcon.png);
    background-size: 100% 100%;
}

.toolLabel {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

#toolButton {
    width: 35%;
    height: 9%;
    margin-top: 75%;
    background-color: white;
    opacity: 0.85;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#toolButtonIcon {
    width: 43px;
    height: 43px;
    background-image: url(images/toolButtonIcon.png);
    background-size: 100% 100%;

}

.toolPage {
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: ease 0.4s;
}

#greeting {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(images/greeting.jpg);
    background-size: 100% 100%;
    opacity: 1;
    visibility: visible;
}

#loginRegisterContainer {
    width: 100%;
    height: 15%;
    position: absolute;
    top: 65%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.greetingButtons {
    width: 12%;
    height: 35%;
    background-color: transparent;
    border: solid white 3px;
    border-radius: 25px;
    margin: 0 1.5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;

}

.greetingButtons:hover {
    background-color: white;
    color: black;
}

#gradeCalculatorContainer {
    background-color: black;
}

#test1Container {
    background-color: aqua;
}

#test2Container {
    background-color: blueviolet;
}

#test3Container {
    background-color: chartreuse;
}

#test4Container {
    background-color: red;
}